@Html.Partial("_BasePartial")
@{
    ViewBag.Title = "Management";
}
<h2>@ViewBag.Title.</h2>
<h3>Dash Board</h3>

<div class="row">
    <div class="col-md-4">
        <h2>Analysis Report</h2>
        <p>
            Specify the indices and send the request for a customized data analysis report to you !
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Request &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Front Line</h2>
        <p>New updates of enquiry business status appeared here.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">View more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tech Know Team</h2>
        <p>New updates of knowledge assisting status or Tech Know Team status appeared here.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">View more&raquo;</a></p>
    </div>
</div>




@*
    Should extend DiscussionPartial to replace the one used for Expert !
    
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
*@