@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@User.Identity.GetUserName()</h1>
    <p class="lead"></p>
    <p>Public functions for all cma members have not been designed yet.
    </p>


</div>

